@font-face{
    font-family: Oswald-Regular;
    src: url(../assets/fonts/Oswald-Regular.ttf);
    
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}



.seven-navbar{
    background-color: black;
    opacity: 0.84;
    padding: 10px 10px 0px 10px;
    font-family: Montserrat-Bold;
    opacity: 84%;
    font-size: 1em;
    
}

.navbar {
    border-top: 1px solid white;
}

.nav-text a { 
    color: #6CE95A; 
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:30px;
  }
  
.navbar-toggler-icon{
    background-color: #6CE95A !important;
}
.nav-text a {
    color: white;
    margin-right: 10px;
    transition: all .2s;
}

.nav-text a:hover {

    color: #6CE95A;
    margin-bottom: -2px;
    border-bottom: 2px solid #6CE95A;
}

.fab{
    z-index: 5;
}