@font-face{
    font-family: Oswald-SemiBold;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
    
}

.home {
    width: 100%;
    background: white;
    height: 180px !important;
    color: black;
    text-align: center;
    

}

h1{
    font-family: Oswald-SemiBold;
    font-size: 4em;
}

