@font-face{
    font-family: Oswald-Regular;
    src: url(../../assets/fonts/Oswald-Regular.ttf);
    
}

@font-face{
    font-family: Montserrat-Regular;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

html{
    font-size: 62,5%;
}

.container__contato{
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.contato {
    width: 1400px;
    margin: 5%;
    background: black;  
}

.title__contato{

    color: white;
    margin: 5% 0 .5% 0;
    font-size: 3rem;
    font-family: Oswald-Regular;

}

.traco{
    width: 3em;
    height: .5em;
    background: #6CE95A;
    border-radius: .2em;
}

.contato__itens{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.contato__form{
    width: 40%;
}
.form{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 5em;


}
.form input {
    height: 3em;
}

.form input, textarea{

    margin-bottom:2em ;
    width: 100%;
    text-align: start;
    background: rgb(0, 0, 0);
    border-top: rgb(0, 0, 0);
    border-left: black;
    border-right: black;
    border-bottom-color: #6CE95A ;
    border-bottom-width: .3em;
    color: rgb(255, 255, 255);
    font-family: Montserrat-Bold;
    font-size: 1em;
    outline: #6CE95A;
    transition: all .2s;


}

.form input:focus{
   background: rgb(24, 24, 24);
}

.form textarea:focus{
    background: rgb(24, 24, 24);
 }


button{
    width: 10em;
    height: 2.5em;
    background-color: #6CE95A;
    border-radius: .3em ;
    border: none;
    color: black;
    font-size: 1.2em;
    font-family: Montserrat-Bold;
    transition: all .2s;
}

button:hover{
    color: white;
    

}

.divisao{
    height: 10em;
    width: .5em;
    background: #6CE95A;
    color: white;
    border-radius: .5em ;
    
}

.contato__i{
    width: 40%;
    display: flex;
    align-items: flex-end;
}



.contato__info__endereco{

    color: white;
    font-family: Oswald-Regular;
    font-size: 2em;

}

.contato__info p{
    padding-top: 1em;
    color: white;
    font-family: Montserrat-Bold;
}

.contato_icons{
    width: 5em;
    padding-top: 1em;
    padding-right: 1em;
    
}

@media (max-width: 900px) {

    .contato__form{
        width: 100%;
    }
    .contato__itens{
        flex-wrap: wrap;
        align-items: center;
    }
    .contato__i{
        width: 100% !important;
        padding-top: 2em;
    }
   
}

